@import "../../sass/mixins/mixins.scss";

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.auth-form {
    width: 60rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
  
.auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}
  
.auth-form-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
    font-weight: 400;
}

.form-group {
    text-align: center;

    button {
        span {
            width: 100%;
            left: 0rem;            
        }
    }

}

.login-button {
    margin-bottom: 5rem;
    width: 80%;
    
    @include respond(500px) {
        width: 90%;
    }

    @include respond(320px) {
        width: 90%;
    }
}

.generate-key-button {
    position: relative;
    top: -3.15rem;
    width: 20%;
    
    @include respond(500px) {
        width: 25%;
    }

    @include respond(320px) {
        width: 25%;
    }
}

.form-control {
    width: 80%;
    font-size: 1.6rem;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fff;    
    background-color: transparent;
    resize: none;
	color: #fff;
	font-family: inherit;
    opacity: 0.6;

    @include respond(500px) {
        width: 90%;
    }

    @include respond(320px) {
        width: 90%;
    }

	&:focus {
		outline: none;
	}

    &::placeholder {
		color: rgba($color: #fff, $alpha: 0.6);
	}

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.form-control-register {
    margin-right: 2%;
    width: 58%;
    font-size: 1.6rem;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fff;    
    background-color: transparent;
    resize: none;
	color: #fff;
	font-family: inherit;
    opacity: 0.6;

    @include respond(500px) {
        width: 63%;
    }

    @include respond(320px) {
        width: 63%;
    }

	&:focus {
		outline: none;
	}

    &::placeholder {
		color: rgba($color: #fff, $alpha: 0.6);
	}

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
  
label {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
}

.button-span {
    background-color: green;
    width: 100%;
}

.auth-error {
    border-bottom: 1px solid red
}
